<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<link rel="stylesheet" href="/styles/create.css" />

		<title>Create / Imagify</title>
	</head>
	<body>
		<div class="main bg-light">
			<!-- NAVBAR -->
			<%- include("partials/navbar") %>

			<!-- DETAILS -->
			<section class="p-5">
				<div class="container text-center d-flex justify-content-center">
					<form action="/create/details" method="post" class="w-75">
						<input
							type="text"
							class="text-input form-control form-control-lg mb-3"
							placeholder="Title"
							name="title"
							required
							id="title-input"
						/>

						<input
							type="text"
							class="text-input form-control form-control-lg mb-3"
							placeholder="Description"
							name="description"
							required
							id="description-input"
						/>

						<input
							type="text"
							name="destination"
							class="text-input form-control form-control-lg mb-3"
							placeholder="Destination URL"
							required
						/>

						<div class="input-group mb-3">
							<span class="input-group-text bg-light" id="text-span">
								imagify.xyz/
							</span>
							<input
								type="text"
								name="alias"
								id="alias"
								class="form-control form-control-lg text-input"
								placeholder="Alias"
							/>
						</div>

						<select
							id="select-option"
							class="form-select form-select-lg text-input bg-light mb-4"
							required
							name="card"
							title="Select the card size"
						>
							<option value="large">Card Type - Large</option>
							<option value="small">Card Type - Small</option>
						</select>

						<div id="card-large" class="border d-inline-block rounded mb-4">
							<div class="border-bottom">
								<img src="<%= image %>" alt="#" id="card-image" />
							</div>
							<div class="p-2 text-start">
								<h4 class="mb-1 card-title">Title</h4>
								<p class="mb-1 card-description">Description</p>
								<em>imagify.xyz</em>
							</div>
						</div>

						<div
							id="card-small"
							class="border d-none d-inline-block rounded mb-4 d-flex w-75 align-items-start"
						>
							<div class="border-end" id="card-image-small">
								<img src="<%= image %>" alt="#" class="img-fluid" />
							</div>
							<div class="p-2 text-start">
								<h4 class="mb-1 card-title">Title</h4>
								<div class="mb-1 card-description">Description</div>
								<em><strong>imagify.xyz</strong></em>
							</div>
						</div>

						<input
							type="text"
							name="image"
							class="d-none"
							value="<%= image %>"
						/>

						<button type="submit" class="btn btn-lg bg-danger text-light">
							Create
							<i class="bi bi-chevron-right"></i>
						</button>
					</form>
				</div>
			</section>
			
			<!-- FOOTER -->
			<%- include("partials/footer") %>
		</div>

		<!-- SCRIPT TAGS -->
		<%- include("partials/script") %>
		<script src="/scripts/create.js"></script>
	</body>
</html>
