<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<link rel="stylesheet" href="/styles/index.css" />

		<title>Imagify - Go From Link To Image</title>
	</head>
	<body>
		<!-- NO SCRIPT -->
		<%- include("partials/inline-script.ejs") %>

		<div class="main bg-light">
			<!-- NAVBAR -->
			<header><%- include("partials/navbar") %></header>

			<!-- SHOWCASE -->
			<section class="p-5">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col col-md-5 text-md-start text-center">
							<h1 id="title" class="fw-bold">
								Drive more traffic to your website via social media
							</h1>
							<p class="lead" id="description">
								Custom <span class="fw-bold">Open Graph</span> tags helps you
								create the card of your choice. Add title & description, upload
								custom image, set URL, define card size and more for FREE.
							</p>
							<a id="btn-showcase" href="/create" class="btn btn-lg text-light">
								Get Started
								<i class="bi bi-chevron-right"></i>
							</a>
							<a
								class=""
								href="https://www.producthunt.com/posts/imagify-4?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-imagify-4"
								target="_blank"
							>
								<img
									id="ph-badge"
									class="m-2"
									src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=307230&theme=light"
									alt="Imagify - Custom OG tags for your links & make your content stand out | Product Hunt"
								/>
							</a>
						</div>

						<div class="col col-md-6 d-md-block text-end d-none">
							<img
								src="/images/Showcase.png"
								alt="#"
								class="img-fluid"
								id="showcase-img"
							/>
						</div>
					</div>
				</div>
			</section>

			<!-- SOCIAL PROOF -->
			<%- include("partials/social-proof.ejs") %>

			<!-- WHY -->
			<section class="p-5 pt-0" id="why">
				<div class="container">
					<h2 class="header text-center fw-bold">
						Why should you use Imagify?
					</h2>
					<div class="row align-items-center mb-5 mb-md-0">
						<div class="col-md text-md-end text-center">
							<h3 class="fw-bold">Increased social media presence</h3>
							<p>
								When using OG tags, you are automatically alloted more screen
								estate as compared to just using a link. This in turns catches
								the eyes of your customers nudging them to click on the
								beautiful image hence driving more traffic.
							</p>
						</div>
						<div class="col-md text-center">
							<img class="img-fluid image" src="/images/grow.png" alt="#" />
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md order-md-2 text-md-start text-center">
							<h3 class="fw-bold">Overwrite predefined OG tags</h3>
							<p>
								If you want to show a card with the image, title and description
								more suited to your liking, Imagify comes to the rescue. With
								our industry standard practices, you overwrite the predefined
								card providing your a greater control.
							</p>
						</div>
						<div class="col-md text-center order-md-1">
							<img class="img-fluid image" src="/images/like.png" alt="#" />
						</div>
					</div>
				</div>
			</section>

			<!-- FOOTER -->
			<%- include("partials/footer") %>
		</div>

		<!-- MODAL -->
		<%- include("partials/modal.ejs") %>

		<!-- SCRIPT TAGS -->
		<%- include("partials/script") %>
		<script src="/scripts/index.js"></script>
	</body>
</html>
