<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<link rel="stylesheet" href="/styles/upload.css" />

		<title>Upload / Imagify</title>
	</head>
	<body>
		<!-- NO SCRIPT -->
		<%- include("partials/inline-script.ejs") %>

		<div class="main bg-light">
			<!-- NAVBAR -->
			<%- include("partials/navbar") %>

			<!-- UPLOAD -->
			<section
				class="p-5 d-flex flex-column justify-content-center align-items-center"
			>
				<div
					class="
						container
						text-center
						d-flex
						justify-content-center
						align-items-center
					"
				>
					<form
						action="/create"
						id="main-form"
						method="POST"
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<div
							id="uploader-form"
							class="
								d-flex
								flex-column
								justify-content-center
								align-items-center
							"
						>
							<div
								id="uploader-div"
								class="
									rounded
									text-center
									justify-content-center
									align-items-center
								"
							>
								<input
									type="text"
									id="base64URL"
									name="base64URL"
									class="d-none"
								/>
								<input
									class="d-none"
									id="file"
									accept="image/*"
									name="image"
									type="file"
								/>
								<img
									src="images/Upload.svg"
									id="uploader-icon"
									class="img-fluid"
									alt="#"
								/>
								<div id="uploader-text" class="lead">Click or drop the image
									<div>(File should not exceed 5mb size limit)</div>
								</div>
							</div>

							<input
								type="text"
								id="img-url"
								name="url"
								class="form-control form-control-lg w-75 mb-4"
								placeholder="or enter the URL"
							/>
						</div>

						<button
							type="submit"
							class="btn btn-lg text-light"
							id="btn-showcase"
						>
							Submit
							<i class="bi bi-chevron-right"></i>
						</button>
					</form>
				</div>
			</section>

			<!-- FOOTER -->
			<%- include("partials/footer") %>
		</div>

		<!-- SCRIPT TAGS -->
		<%- include("partials/script") %>
		<script src="/scripts/upload.js"></script>
	</body>
</html>
